In [17]:
#Ask the user to enter their name and then display their name three times. 
name = input ("type your name: ")
for i in range (0,3):
    print(name)

type your name: seemoni
seemoni
seemoni
seemoni

In [5]:
#Alter program 035 so that it will ask the user to enter their name and a number and then display their name that number of times. 
number = int(input("enter a number: "))
name = input("enter a name: ")
for i in range (0,number):
    print(name)

enter a number: 4
enter a name: seemoni
seemoni
seemoni
seemoni
seemoni

In [8]:
#Ask the user to enter their name and display each letter in their name on a separate line.
name = input("enter your name: ")
for i in name:
    print(i)

enter your name: seemoni
s
e
e
m
o
n
i

In [10]:
#Change the above program and also ask for a number. Display their name (one letter at a time on each line) and repeat this for the number of times they entered. 
name = input("enter you name: ")
number = int(input("enter the number: "))
for x in range(0,number):
    for i in name:
        print(i)

enter you name: seemoni
enter the number: 5
s
e
e
m
o
n
i
s
e
e
m
o
n
i
s
e
e
m
o
n
i
s
e
e
m
o
n
i
s
e
e
m
o
n
i

In [13]:
#Ask the user to enter a number between 1 and 12 and then display the times table for that number. 
number = int(input("enter a number between 1 and 12: "))
for i in range(1,13):
    answer = i * number
    print(i, "x", number, "=", answer)

enter a number between 1 and 12: 1
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
11 x 1 = 11
12 x 1 = 12

In [16]:
#Ask for a number below 50 and then count down from 50 to that number, making sure you show the number they entered in the output.
num = int(input("enter a number below 50: "))
for i in range(50, num-1, -1):
    print(i)

enter a number below 50: 40
50
49
48
47
46
45
44
43
42
41
40